body, html {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: $base-font-size;
  @include border-box-sizing;
  @include show-grid(overlay);
}

.container {
  @include container;
  display: flex;
  box-orient: horizontal;
}

.main-area {
  box-flex: 1;
  // temp
  min-height: 50em;
  //
  @include breakpoint(phone) {
  }
  .content {
    @include pad(0.5,0.5)
  }
}

header {
  margin-bottom: 1em;
  border-bottom: $divide;
  @include pad(0.5,0.5)
}

footer {
  margin-top: 2rem;
  text-align: center;
  display: none;
}

sidebar {
  box-flex:  0;
  align-items: stretch;
  @include breakpoint(phone) {
    display: none;
  }
  .company {
    padding: 1em 0 0 1em;
    .logo {
      width: 25%;
      height: 2em;
      float: left;
    }
    .details {
      width: 75%;
    }
  }
}
