.session-title {
  color: $gold;
}


.session-content {
  width: 30%;
  margin: 10% auto;
  background: url(image_path('dragon@2x.png')) center center no-repeat, $navy_blue;
  border-radius: 0.4em;

  // .session-title {
  //   background: url(image_path('Les-Gallois.png')) center center no-repeat;
  //   display: block;
  //   height: 10em;
  // }
  form {
    width: 75%;
    margin: 1em auto;
    label {
      color: $white;
      padding: 2em 0 0.5em 0;
      display: block;
    }
    input[type=email], input[type=password] {
      font-size: 1.875em;
      border: 0.1em solid $gold;
      border-radius: 0.4em;
      background: rgba(255,255,255,0.1);
      margin: 0 auto;
      padding-left: 0.5em;
      width: 100%;
      color: $white;
    }

  }
}
