.field {
  margin-bottom: 1em;
}

label {
  font-size: 16px;
  color: $text_colour;
  text-align: left;
  text-transform: lowercase;
  display: block;
  padding-bottom: 0.5em;
}

input[type='email'],
input[type='password'],
input[type='text'],
select {
  border: 0.1em solid $off_white;
  border-radius: 0.2em;
  background: $off_white;
  width: 100%;
  padding: 0.75em 0.5em;
  &:hover {
    background-color: darken($off_white, 1%);
    transition: 0.6s ease-in-out background-color;
  }
  &:focus {
    outline: none;
    border: 0.1em solid $soft_green;
    transition: 0.3s ease-in-out border;
  }
  &.search-field {
    background: url(image_path('search@2x.png')) left center no-repeat;
    background-size: 14px 14px;
    padding: 1.5em 0em 1.5em 1.5em;
    border: none;
  }
}

select {
  appearance: none;
  background: $off_white url(image_path('dropdown_icon@2x.png')) 99% center no-repeat;
  background-size: 12px 6px;
  &#contact_birthday_1i, &#contact_birthday_2i, &#contact_birthday_3i {
    @include span(4 of 12);
  }
}

.remember {
    margin: 0 auto 1em;
    display: block;
    width: 8em;
  input[type='checkbox'] {
    float: left;
    margin: 0.2em 0.5em 0 0;
    border: 0.1em solid $soft_green;
  }
  label {
    color: $grey;
    font-size: 0.875em;
  }
}

.session-links {
  text-align: center;
  a {
    display: block;
    padding-bottom: 0.5em;
  }
  p {
    color: $grey;
  }
}

.session-content {
  em {
    color: $grey;
    font-size: 0.75em;
  }
}
