.sessions-logo {
  padding: 0;
  width: 14em;
  display: block;
  margin: 0 auto;
}

.contact-image {
  float: left;
  margin-right: 1em;
  display: block;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    border: $divide;
  }
}

.contact-details-image {
  float: left;
  display: block;
  height: 5.5em;
  width: 5.5em;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: $divide;
  }
}

.contact-show-image {
  float: left;
  margin: 0 2em 1em 0;
  display: block;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    border: $divide;
  }
}

.sidebar-content {
  .logo {
    img {
      width: 55%;
      margin: 0 auto;
      display: block;
    }
  }
}

.initials {
  background: rgb(240,240,240);
  border-radius: 50%;
  border: $divide;
  color: $grey;
  text-align: center;
  letter-spacing: 0.1em;

  &.small {
    height: 40px;
    width: 40px;
    line-height: 2.7;
  }
  &.standard {
    width: 60px;
    height: 60px;
    font-size: 1.4em;
    line-height: 3;
  }
  &.large {
    width: 100px;
    height: 100px;
    font-size: 2em;
    line-height: 3.5;
  }

}
