a {
  text-decoration:none;
  color: $link_colour;
}
.settings-menu-link {
  color: $grey;
  padding: 1.5em 0 ;
  display: block;
  width: 50%;
  float: left;
  text-align: center;
}

.filters {
  font-size: 0.875em;
  padding-bottom: 1em;
  border-bottom: $divide;
  clear: both;
  .alphabetical {
    float: left;
    padding-right: 1em;
  }
  color: $grey;
  i {
    color: $soft_green;
    padding-left: 0.2em;
  }
}
