.page-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  .navigation-item {
    a {
      padding: 0.5em 0 0.5em 1em;
      display: block;
      &:hover {
        background: rgba(255,255,255,0.1);
      }
    }
  }
}

.contact-list {
  border-right: $divide;
  .contact {
    padding: 1em;
    border-bottom: $divide;
    &:hover {
      background-color: $off-white;
      transition: 0.3s ease-in-out background-color;
    }
    .contact-name {
      color: $charcoal;
    }
    .contact-job {
      color: $grey;
      font-size: 0.875em;
    }
  }
}
