%header
  %form.header-form
    %input{:type => 'text', :placeholder => 'Type to Search...'}
  .user-navigation
    .profile
      .avatar
        = image_tag 'avatar.png'
        = fa_icon 'caret-down'
    .notification
      = fa_icon 'bell'
