sidebar {
  background: rgb(28,30,43);
  .company-name {
    color: rgb(255,255,255);
    font-size: 16px;
  }
  .user-name {
    color: rgb(150,150,150);
    font-size: 14px;
  }
  .page-navigation {
    .navigation-item {
      a {
        color: rgb(255,255,255);
      }
    }
  }
}
